<?xml version="1.0" encoding="utf-8"?>
<Settings>
    <SourceDirectories>
        <SourceDirectory>TestDirectory1</SourceDirectory>
        <SourceDirectory>TestDirectory2</SourceDirectory>
    </SourceDirectories>
    <SourceFiles>
        <SourceFile>file.jpg</SourceFile>
    </SourceFiles>
    <TargetDirectory>Temp</TargetDirectory>
</Settings>